.section__tab{
    width:100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left:50px;
    list-style: none;
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.section__tab li{
    margin-left: 5%;
}

.here-now{
    color: #ff0000;
}



.section__tab-button{
    padding: 3px 15px;
    border: none;
    background: #fff;
    color: #000;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
}



.item-box__place {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.item-box__list {
    width: 100%;
    list-style: none;
}

.item-box {
    min-width: 100px;
    margin-bottom: 40px;
    margin-right: 5%;
    width: 20%;
    float: left;
    position: relative;
}

.item-box img{
    width: 100%;
}

.item-box__title {
    margin-bottom: 40px;
}

.item-box__sold {
    position: absolute;
}